.edit.glyphicon.glyphicon-pencil

%h4
  = link_to '<%= @name %>'.html_safe, '#', class: 'show classroom'

%p
  <% for current_reservation in @current_reservations: %>
  <%= current_reservation %>
  <% end %>
